//  --colors

$red: #cc210c;
$red-dark: #be1d2d;
$pink: #fee5eb;
$pink-dark: #cc8b8d;
$white: #fff;
$green: #269535;
$blue: #016ecb;
$blue-dark: #014d8e;
$yellow: #fe9315;
$black: #000;

// -> breakpoint

$vertical: 1560px;